BOT_TOKEN=
REQUIRED_VOTES=
BAN_KEYWORD=
LANGUAGE=
FAQ_TRIGGER_LENGTH=
FAQ_ERROR_TTL_MS=
MEDIA_CHANNEL_TARGET=
GITHUB_GIST_TOKEN=
BOT_OWNER_ID=
DB_PATH=
BOT_USERNAME=
CHAT_EXPIRATION_TIME=
MAX_USERS_PER_ROOM=
MAX_MESSAGES_PER_10_SECONDS=